# dependencies
/node_modules

# next.js
/.next
/out

# Amplify Gen2 sandbox / local outputs
.amplify/
amplify_outputs.json
src/lib/amplify_outputs.json

# misc
.DS_Store
*.tsbuildinfo

# env
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
