@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Noto+Serif+JP:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif JP', serif;
}

.font-admin {
  font-family: 'Inter', sans-serif;
}
